{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('bagov_base_blocks/slick') }}
{{ attach_library('bagov_base_blocks/views_links_rapidos') }}

{% if title %}
	<h3>{{ title }}</h3>
{% endif %}

<div class="bg-orange block-bagov-base-views-block-links-rapidos">
	<h2>{{ view.title|default('Links Rápidos')}}</h2>
	<div id="carrousel-links-rapidos">
  {% for row in rows %}
		{%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
		<div{{row.attributes.addClass(row_classes)}}>
			{{- row.content -}}
		</div>
	{% endfor %}
  </div>
<div class="custom-arrows-links-rapidos position-relative mt-5" />
</div>




