<div
	id="{{ id }}" class="noticias-home-secundarias">
	{# Noticia corpo. #}
	<div class="row gy-4">
		{% for row in rows %}
			{% set col_classes = [''] %}
			<div class="col-xs-12 col-md-6">
				<div class="noticias-container">
					<div class="noticias-wrapper">
						{{ row.image_small }}
						{% if row.title or row.description %}
							{%  if use_caption %}
								<div class="noticias-caption">
								{% endif %}
								{% if row.title %}
									<h3>{{ row . title }}</h3>
								{% endif %}
								{% if row.description %}
									<p>{{ row . description }}</p>
								{% endif %}
								{%  if use_caption %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="noticias-home-footer d-flex flex-row-reverse py-4">
		<br>
		{{ link('Mais notícias', 'internal:/noticias') }}
	</div>
</div>
