<div id="{{ id }}" class="noticias">
    {# Noticia corpo. #}
    <div class="row gy-4">
        {% if view_title %}
        <div class="col-xs-12">
            <h2 class="noticias-titulo">{{ view_title }}</h2>
        </div>
        {% endif %}
        {% for row in rows %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="noticias-container">
                <div class="noticias-wrapper">
                    <div class="noticias-img d-block d-md-block d-lg-none">
                        {{ row.image_full }}
                    </div>
                    <div class="noticias-img d-none d-md-none d-lg-block">
                        {{ row.image_small }}
                    </div>
                    {% if row.title or row.description %}
                    {%  if use_caption %}
                    <div class="noticias-caption">
                        {% endif %}
                        {% if row.title %}
                        <h3>{{ row . title }}</h3>
                        {% endif %}
                        {% if row.description %}
                        <p>{{ row . description }}</p>
                        {% endif %}
                        {%  if use_caption %}
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
