{#
/**
 * @file
 * Default theme implementation for displaying a view as a bootstrap carousel.
 *
 * Available variables:
 * - view: The view object.
 * - rows: A list of the view's row items.
 * - id: A valid HTML ID and guaranteed to be unique.
 * - interval: The amount of time to delay between automatically cycling a
 *   slide item. If false, carousel will not automatically cycle.
 * - pause: Pauses the cycling of the carousel on mouseenter and
 *   resumes the cycling of the carousel on mouseleave.
 * - wrap: Whether the carousel should cycle continuously or have
 *   hard stops.
 *
 * @see template_preprocess_views_noticias_home()
 *
 * @ingroup themeable
 */
#}
<div id="{{ id }}" class="noticias-home">
    {# Noticia corpo. #}
    <div class="row gy-4">
        {% for row in rows %}
        {% set col_classes = ['col-12', row . noticia_principal ? '' : 'col-md-6'] %}
        <div class="{{ col_classes | join(' ') }}">
            <div class="noticias-container">
                <div class="noticias-wrapper">
                    {{ row . image }}
                    {% if row.title or row.description %}
                    {%  if use_caption %}
                    <div class="noticias-caption">
                        {% endif %}
                        {% if row.title %}
                        <h3>{{ row . title }}</h3>
                        {% endif %}
                        {% if row.description %}
                        <p>{{ row . description }}</p>
                        {% endif %}
                        {%  if use_caption %}
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="noticias-home-footer">
        <br>
        {{ link('Últimas notícias', 'internal:/noticias') }}
    </div>
</div>
